<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>JSON Editor UI</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>


    <style>
        .temp-btn {
            float: right;
        }

        #editors {
            padding: 10px 10px 0px 10px;
            display: inline-flex;
        }

        .check-btn {
            margin: 10px 10px
        }

        .represent {
            width: 900px;
            margin-right: 10px;
        }
        .container {
            width: 900px;
            margin-right: 10px;
            padding: 0px 5px 0px 0px;
            background-color: #f3f6fa;
            background-image: repeating-linear-gradient(180deg, #d9edf7, #d9edf7 30px, #f5f5f5 30px, white 60px);
        }

        .wrapper {
            padding-left: 5px;
        }

        h2 {
            margin-left: 10px;
        }

        ul {
            list-style: none;
            margin: 0px;
        }

        li {
            height: 100%;
        }

        li.tree-item {
            padding-left: 20px;
        }

        li.minimized {
            height: 30px;
            overflow-y: hidden;
        }

        .arrow {
            margin-left: -18px;
        }

        .css-form input.ng-invalid.ng-touched {
            border-color: #FA787E;
        }

        /*.css-form input.ng-valid.ng-touched {*/
        /*border-color: #78FA89;*/
        /*}*/

        input.form-input {
            width: 100px;
            border: none;
            display: inline;
            height: 30px;
            padding: 5px;
            background-color: transparent;
        }

        input.form-control, select.form-control {
            width: 150px;
            display: inline;
            height: 30px;
            padding: 5px;
            background-color: transparent;
        }

        .value-line {
            height: 30px;
        }

        #screen {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.25);
            position: absolute;
            top: 0;
        }

        #modal {
            width: 33.333%;
            top: 20%;
            left: 33.3333%;
            z-index: 2;
            position: fixed;
        }

        .value-line span {
            line-height: 30px;
        }

        .value-line button {
            box-sizing: border-box;
            height: 30px;
            line-height: 26px;
            border-color: transparent;
            background-color: transparent;
        }

    </style>

    <script type="text/javascript">
        angular
                .module("JSONEditor", ["ngRoute"])
                //                .config(["$stateProvider", function ($stateProvider) {
                //
                //                    $stateProvider.state("getDataBeforeStartApp", {
                //                        abstract: true,
                //                        url: "",
                //                        template: '<h1>Kukusiki</h1>',
                //                        resolve: {
                //                            getDataBeforeStartApp: function ($http) {
                //                                // $http returns a promise for the url data
                //                                return $http({
                //                                    method: "GET",
                //                                    url: "http://localhost:3000/testDiscount/GetConfigForTestDiscount"
                //                                })
                //                            }
                //                        }
                //                    })
                //                }])
                .controller("JSONEditor", JSONEditor)
                .directive("template", template)
                .directive("modalDialog", modalDialog)
                .directive("editor", editor);

        /**
         * THE CONTROLLER
         */

        JSONEditor.$inject = ["$scope", "$http"];
        function JSONEditor($scope, $http){
            /**
             * ---------- VARIABLES DECLARATION -----------
             */
            var _ANY_ = "any"; // any base type
            var _UP_ = "*"; // unit prefix
            var _AP_ = "@"; // argument prefix
            var _OP_ = "#"; // output prefix
            var _PS_ = "."; // path separator

            var json = {};
            var jsonType = "";
            var complexTypes = {};
            var DBTypes = {};
            var units = {};
            var baseTypes = {};
            /**
             * Base types declaration and validation
             */

            var baseTypesDecl = {
                "string":   function(val) {
                    if(val == undefined){
                        val = "";
                    }
                    return val.toString();
                },
                "int":      function(val) {
                    if(val == undefined){
                        val = 0;
                    }
                    return parseInt(val);
                },
                "float":    function(val) {
                    if(val == undefined){
                        val = 0;
                    }
                    return parseFloat(val);
                },
                "boolean":  function(val) {
                    return val ? true : false;
                },
                "array":    function(val) {
                    if (!Array.isArray(val)) {
                        val = [];
                    }
                    return val;
                },
                "object":   function(val) {
                    if (baseTypes.getTypeOf(val) != "object") {
                        val = {};
                    }
                    return val;
                }
            };

            $scope.json = json;
            $scope.jsonType = jsonType;
            $scope.complexTypes = complexTypes;
            $scope.DBTypes = DBTypes;
            $scope.units = units;
            $scope.baseTypes = baseTypes;

            $scope.isDialogHidden = true;

            /**
             *  requests when app starts
             *
             *  requestDBTypesInfo
             *  requestUnitsForTypeAny
             */

            /**
             * help functions
             *
             * pathToArray
             * replaceBrackets
             */
            $scope.isArrayType = isArrayType;
            $scope.isInArray = isInArray;

            /**
             * applied to complex types and units
             */
            $scope.getItemInfo  = getItemInfo;
            $scope.getItemType = getItemType;
            $scope.getItemLabel = getItemLabel;
            $scope.getKeyInfo = getKeyInfo;

            /**
             * applied to complex types
             */
            complexTypes.complexTypesDict = {};
            complexTypes.isComplexType = isComplexType;
            complexTypes.getComplexTypes = getComplexTypes;
            complexTypes.requestTypeInfo = requestTypeInfo;

            /**
             * applied to DB types (requested all)
             */
            DBTypes.DBTypesDict = {};
            DBTypes.isDBType = isDBType;
            DBTypes.getDBTypes = getDBTypes;

            /**
             * applied to Units
             */
            units.unitsDict = {};
            units.isUnit = isUnit;
            units.isArgument = isArgument;
            units.isOutput = isOutput;
            units.addUP = addUP;
            units.removeUP = removeUP;
            units.hasUnits = hasUnits;
            units.getUnits = getUnits;
            units.getUnitArgs = getUnitArgs;

            /**
             * applied to Base types
             */
            baseTypes.baseTypesDict = baseTypesDecl;
            baseTypes.isBaseType = isBaseType;
            baseTypes.isEmpty = isEmpty;
            baseTypes.getBaseTypes = getBaseTypes;
            baseTypes.getTypeOf = getTypeOf;
            baseTypes.convertToValue = convertToValue;

            /**
             * applied to JSON
             */
            $scope.getItem = getItem;
            $scope.getJsonItem = getJsonItem;
            function getJsonItem(path) {
                return getItem(path, $scope.json)
            }
            $scope.addItem = addItem;
            $scope.addJsonItem = addJsonItem;
            function addJsonItem(path, key, type, val) {
                return addItem($scope.json, path, key, type, val);
            }
            $scope.removeItem = removeItem;
            $scope.removeJsonItem = removeJsonItem;
            function removeJsonItem(path, key, val){
                return removeItem($scope.json, path, key, val);
            }
            $scope.editItem = editItem;

            /**
             * applied to dialog
             *
             * +showDialog
             */
            $scope.addItemDialog = addItemDialog;
            $scope.getPossibleKeys = getPossibleKeys;
            $scope.getPossibleUnitKeys = getPossibleUnitKeys;
            $scope.getPossibleUnits = getPossibleUnits;

            /**
             * (applied to)/saves rule and action
             */
            $scope.save = save;

            /**
             *----------------- FUNCTIONS -------------------
             */

            function isUnit(key) {
                if(key == undefined){
                    return false;
                }
                return key.toString().startsWith(_UP_);
            }

            function isArgument(key) {
                if(key == undefined){
                    return false;
                }
                return key.toString().startsWith(_AP_);
            }

            function isOutput(key) {
                if(key == undefined){
                    return false;
                }
                return key.toString().startsWith(_OP_);
            }

            function pathToArray(path) {
                return path.toString()
                        .replace(new RegExp("^[" + _PS_ + "]+"), "")
                        .replace(new RegExp("[" + _PS_ + "]+$"), "")
                        .split(_PS_);
            }

            /**
             * Makes HTTP request to get information about db types
             */
            function requestDBTypesInfo() {
                $http({
                    method : "GET",
                    url : "http://localhost:3000/composer/db-types"
                }).then(function(response){
                    DBTypes.DBTypesDict = response.data.result;
                }, function(){
                    return null;
                });
            }
            requestDBTypesInfo();

            /**
             * Makes HTTP request in order to resolve complex type information
             */
            function requestTypeInfo(type, handler) {
                var promise = $http({
                    method : "GET",
                    url : "http://localhost:3000/composer/type/" + type
                });

                promise.then(function (response){
                    var res = response.data.result;
                    complexTypes.complexTypesDict[type] = res[type];
                    if(handler != undefined) {
                        try {
                            handler();
                        } catch(e) {}
                    }
                }, function(){
                    return null;
                });

                return promise;
            }

            function requestUnitInfo(type, handler){
                var promise = $http({
                    method : "GET",
                    url : "http://localhost:3000/composer/units/" + type
                });

                promise.then(function(response) {
                    units.unitsDict[type] = response.data.result[type];
                    if(handler != undefined){
                        try {
                            handler();
                        } catch(e) {}
                    }
                }, function(){
                    return null;
                });

                return promise;
            }

            /**
             * Returns array of "base" types names
             */
            function getBaseTypes() {
                return Object.keys(baseTypes.baseTypesDict);
            }

            /**
             * Returns array of "db" types names
             */
            function getDBTypes() {
                return Object.keys(DBTypes.DBTypesDict);
            }

            /**
             * Returns array of "complex" types names
             */
            function getComplexTypes() {
                return Object.keys(complexTypes.complexTypesDict);
            }

            /**
             * Returns true if given type is kind of "base" type
             */
            function isBaseType(type) {
                return isInArray(type, baseTypes.getBaseTypes());
            }

            /**
             * Returns true if given type is kind of "db" type
             */
            function isDBType(type) {
                return isInArray(type, DBTypes.getDBTypes());
            }

            /**
             * Returns true if given type is kind of "complex" type
             */
            function isComplexType(type) {
                return isInArray(type, complexTypes.getComplexTypes())
            }

            /**
             * Returns simple type of the given object
             */
            function getTypeOf(value) {
                if(value === null) {
                    return "null";
                }
                if(Array.isArray(value)) {
                    return "array";
                }
                if(typeof value == "number"){
                    if(Number.isInteger(value)){
                        return "int";
                    } else {
                        return "float";
                    }
                }

                return (typeof value).toLowerCase();
            }

            /**
             * Converts the given value to a specified type
             * (returns original value for unknown types)
             */
            function convertToValue(type, val) {
                if(type == undefined) {
                    return null;
                }
                //type in base types
                if(type in baseTypes.baseTypesDict) {
                    val = baseTypes.baseTypesDict[type](val);
                } else if(type == "number") {
                    if(Number.isInteger(val)){
                        val = baseTypes.baseTypesDict["int"](val);
                    } else {
                        val = baseTypes.baseTypesDict["float"](val);
                    }
                } else {
                    if(isArrayType(type)){
                        type = "array";
                    } else {
                        type = "object";
                    }
                    val = baseTypes.convertToValue(type, val);
                }

                return val;
            }

            /**
             * Check if complex type consist of array items
             * (the same type for each item)
             */
            function isArrayType(type) {
                if (type == undefined) {
                    return false;
                }

                if(baseTypes.getTypeOf(type) == "object"){
                    type = type.type;
                }

                if(type.indexOf("[]") == 0 || type == "array") {
                    return true;
                }
                return false;
            }

            /**
             * reoalce Brackets in type
             */
            function replaceBrackets(type) {
                if(baseTypes.getTypeOf(type) == "object"){
                    return type;
                } else {
                    return  type.replace("[]", "");
                }
            }

            /**
             * Returns true if value type equals one of given types
             */
            function isInArray(valueType, types) {
                return types.length != 0 && types.indexOf(valueType) != -1;
            }

            /**
             * Returns type by path
             */
            function getItemInfo(path, prefix, type) {
                if (type == undefined) {
                    type = $scope.jsonType;
                }

                // checking if we are reached end of path
                if(path == undefined || path == ""){
                    return type;
                }

                path = pathToArray(path);

                // arrays have the same type for each item
                var typeIsArray = isArrayType(type);
                type = replaceBrackets(type);

                var typeItems = {};
                var path0 = path.shift();
                var pathIsUnit = units.isUnit(path0);

                if(!pathIsUnit && complexTypes.isComplexType(type)) {
                    typeItems = complexTypes.complexTypesDict[type];
                } else if(pathIsUnit){
                    path0 = units.removeUP(path0);
                    Object.assign(typeItems, units.unitsDict[type]);
                    if(baseTypes.isBaseType(type)) {
                        Object.assign(typeItems, units.unitsDict[_ANY_]);
                    }
                }

                if (path0 in typeItems) {
                    if(!pathIsUnit) {
                        type = typeItems[path0];
                    } else {
                        type = typeItems[path0][prefix];
                    }
                } else if(!typeIsArray) {
                    return null;
                }

                if (path.length > 0) {
                    type = getItemType(type);
                    if(pathIsUnit && (prefix != _OP_ || complexTypes.isComplexType(type))) {
                        type = typeItems[path0][_OP_];
                    }
                    return getItemInfo(path.join(_PS_), prefix, getItemType(type));
                }

                return type;
            }

            /**
             * Returns type for Complex type
             */
            function getItemType(typeInfo) {
                if(baseTypes.getTypeOf(typeInfo) == "object"){
                    var type = typeInfo.type;
                    if(DBTypes.isDBType(type)){
                        return DBTypes.DBTypesDict[type].type;
                    }
                    return type;
                }
                return typeInfo;
            }

            /**
             * Returns label for Complex type
             */
            function getItemLabel(typeInfo) {
                if(baseTypes.getTypeOf(typeInfo) == "object"){
                    return typeInfo.label;
                }
                return typeInfo;
            }

            /**
             * Returns the given object value for a specified path
             */
            function getItem(path, object) {

                if (object == undefined) {
                    object = json;
                }

                var type = baseTypes.getTypeOf(object)
                if (type != "object" && type != "array") {
                    return null
                }

                if(path == undefined || path == ""){
                    return object;
                }
                var path = pathToArray(path);

                if (path[0] in object) {
                    object = object[path.shift()];
                } else {
                    return null
                }

                if (path.length > 0) {
                    return getItem(path.join(_PS_), object);
                }

                return object;
            }

            /**
             * Updates the given root object with a new item for a specified path
             */
            function addItem(root, path, key, type, val) {
                if(key == undefined) {
                    alert("please enter the key");
                    $scope.isDialogHidden = false;
                    return;
                }

                var workingItem = getItem(path, root);

                if (baseTypes.getTypeOf(workingItem) != "object" && baseTypes.getTypeOf(workingItem) != "array") {
                    var newType = "object";

                    var parentPath = pathToArray(path);
                    var workingItemKey = parentPath.pop();
                    parentPath = parentPath.join(_PS_);

                    //editItem(parentPath, workingItemKey, newType, {"": workingItem});
                    editItem(parentPath, workingItemKey, newType, {});
                    workingItem = getItem(path, root);
                }

                val = baseTypes.convertToValue(type, val);

                if(units.unitsDict[type] == undefined && type != "unit"){
                    requestUnitInfo(type, function() {
                        addNewItem();
                    });
                } else {
                    addNewItem();
                }

                function addNewItem(){
                    if(key in workingItem){
                        alert("this key already exist");
                        $scope.isDialogHidden = false;
                    } else {
                        workingItem[key] = val;
                    }
                }

            }

            /**
             * Removes the given object value for a specified path
             */
            function removeItem(object, path, key, val) {
                var item = getItem(path, object);
                var type = baseTypes.getTypeOf(item);
                if (type == "object") {
                    delete(item[key]);
//                        if(isUnit(key)) {
//                            var parentPath = pathToArray(path);
//                            var workingItemKey = parentPath.pop();
//                            var newType = getItemType(getItemInfo(path, val));
//                            editItem(parentPath, workingItemKey, newType, val);
//                        }
                } else if (type == "array") {
                    item.splice(key,1);
                }
            }

            /**
             * Edits the given object value by specified path
             */
            function editItem(path, key, type, val, flag) {
                if (path == undefined) {
                    path = "";
                }

                var item = $scope.getJsonItem(path);

                if (type != "object"){
                    val = baseTypes.convertToValue(type, val);
                }
                // TODO: explain ???
                //if(!flag){
                item[key] = val;
                //}
                return val;
            }

            /**
             * Show dialog - opens the items creation dialog
             * TODO: remove flag
             */
            function addItemDialog(path, key, flag){ //flag is if invokes dialog for adding units
                // Initialization / Validation
                // ---------------------------

                if (path == undefined){
                    path = "";
                }

                if(key != undefined) {
                    path = path + _PS_ + key;
                } else {
                    key = "";
                }

                var parentItem = getJsonItem(path);
                var parentType = getItemType(getItemInfo(path, _OP_));

                if(parentType == undefined){
                    parentType = baseTypes.getTypeOf(parentItem);
                }

                var showDialog = function() {
                    // Dialog variables preparations before show
                    // -----------------------------------------

                    var dialogObject = {
                        showKey: true,
                        showInputKey: false,
                        showSelectKey: true,
                        showInputType: true,
                        showSelectType: false,
                        unitFlag: false,
                        baseType: undefined
                    };

                    if (isArrayType(parentType)) {
                        dialogObject.showKey = false;
                        dialogObject.key = parentItem.length;
                        if (parentType == "[]Any" || parentType == "array") {
                            dialogObject.showSelectType = true;
                            dialogObject.showInputType = false;
                        } else {
                            dialogObject.type = replaceBrackets(parentType);
                        }
                    } else if (parentType == "object") {
                        dialogObject.showSelectKey = false;
                        dialogObject.showInputKey = true;
                        dialogObject.showSelectType = true;
                        dialogObject.showInputType = false;
                        dialogObject.baseTypes = baseTypes.getBaseTypes();
                    }

                    if(units.isUnit(key)) {
                        if(flag == "unit") {
                            dialogObject.unitFlag = true;
                            dialogObject.possibleKeys = getPossibleUnits(parentType);
                        } else {
                            var parentTypeU = getItemType(getItemInfo(path, _UP_));
                            dialogObject.possibleKeys = getPossibleUnitKeys(parentTypeU, key);
                        }
                    } else {
                        if(flag == "unit") {
                            dialogObject.unitFlag = true;
                            dialogObject.possibleKeys = getPossibleUnits(parentType);
                        } else {
                            dialogObject.possibleKeys = getPossibleKeys(parentType);
                        }
                    }

                    dialogObject.path = path;

                    // Showing dialog to user
                    // ----------------------
                    $scope.dialog = dialogObject;
                    if($scope.isDialogHidden){
                        $scope.isDialogHidden = false;
                    }
                };

                if (!isArrayType(parentType) && !baseTypes.isBaseType(parentType) && parentType != _ANY_) {
                    if (!complexTypes.isComplexType(parentType)) {
                        complexTypes.requestTypeInfo(replaceBrackets(parentType), function () {
                            showDialog();
                        });
                    } else {
                        showDialog();
                    }
                } else {
                    showDialog();
                }

            }

            /**
             * Makes HTTP request to get information about units
             */
            function requestUnitsForBaseTypes() {
                var types = [_ANY_, "string", "int", "float", "boolean", "array", "object"];
                $http({
                    method: "GET",
                    url: "http://localhost:3000/composer/units/" + types
                }).then(function(response){
                    units.unitsDict = response.data.result;
                });
            }
            requestUnitsForBaseTypes();

            /**
             * Adds unit prefix
             */
            function addUP(unitName) {
                return _UP_ + unitName;
            }

            /**
             * Removes unit prefix
             */
            function removeUP(unitName) {
                return unitName.replace(_UP_, "");;
            }

            /**
             * Checks if to type can be applied units
             */
            function hasUnits(type) {
                return units.unitsDict[type] != undefined && (!baseTypes.isEmpty(units.unitsDict[type]) || baseTypes.isBaseType(type));
            }

            /**
             * Checks object on emptiness
             */
            function isEmpty(obj) {
                for(var prop in obj) {
                    if(prop)
                        return false;
                }

                return true;
            }

            /**
             * Returns keys by type
             */
            function getPossibleKeys(type) {

                if(type == undefined){
                    return null;
                }

                if(type == "array"){
                    return Object.keys(baseTypes.baseTypesDict);
                }

                type = replaceBrackets(type);
                var keys = [];
                if (complexTypes.isComplexType(type)) {
                    var item = complexTypes.complexTypesDict[type];
                    for(var key in item){
                        if(key != ""){
                            var v = {};
                            v.key = key;
                            var label = getItemLabel(item[key]);
                            if(label == "") {
                                v.label = "(" + key + ") - " + key;
                            } else {
                                v.label = "(" + key + ") - " + label;
                            }

                            keys.push(v);
                        }
                    }
                } else {
                    return null;
                }

                return keys;
            }

            /**
             * Returns keys by type
             */
            function getPossibleUnitKeys(type, unitName) {
                var keys = [];
                unitName = removeUP(unitName);

                keys = keys.concat(units.getUnitArgs(type, unitName));
                if(baseTypes.isBaseType(type)){
                    keys = keys.concat(units.getUnitArgs(_ANY_, unitName));
                }

                return keys;
            }

            function getUnitArgs(type, unitName){
                var keys = [];
                var unit = units.unitsDict[type][unitName];
                if(unit) {
                    for (var key in unit) {
                        if (key != _UP_) {
                            var v = {};
                            v.key = key;
                            if(units.isArgument(key)){
                                v.label = "\<arg\> - (" + key + ")";
                            } else if(units.isOutput(key)) {
                                v.label = "\<out\> - (" + key + ")";
                            } else {
                                v.label = "(" + key + ")";
                            }
                            keys.push(v);
                        }
                    }
                }

                return keys;
            }

            /**
             * Returns unitss by type
             */
            function getPossibleUnits(type) {
                if(type == undefined){
                    return null;
                }

                type = replaceBrackets(type);
                var keys = [];
                var typeUnits;

                if (units.hasUnits(type)) {
                    typeUnits = units.unitsDict[type];
                    keys = keys.concat(units.getUnits(typeUnits));
                }
                if(baseTypes.isBaseType(type)){
                    typeUnits = units.unitsDict[_ANY_];
                    keys = keys.concat(units.getUnits(typeUnits));
                }

                return keys;
            }

            function getUnits(typeUnits) {
                var keys = [];
                for(var unitName in typeUnits){
                    var unitInfo = typeUnits[unitName][_UP_];
                    var v = {};
                    v.key = units.addUP(unitName);
                    var label = getItemLabel(unitInfo);
                    if(label == ""){
                        v.label = "(" + unitName + ") - " + unitName;
                    } else {
                        v.label = "(" + unitName + ") - " + label;
                    }
                    keys.push(v);
                }

                return keys;
            }
            /**
             * Returns  type and label for corresponding complex type by path and key
             * TODO: remove flag
             */
            function getKeyInfo(path, key, val, flag, dialogType) { //flag defines where func has called from template
                if(path == undefined) {
                    path = "";
                }
                if(key == undefined) {
                    return null;
                }

                var info = {};
                var parentItemInfo;
                var itemInfo;

                // if key id unit
                if(units.isUnit(key)) {
                    var parentPath = pathToArray(path).pop();

                    if(units.isUnit(parentPath)) {
                        parentItemInfo = getItemInfo(path, _OP_);
                    } else {
                        parentItemInfo = getItemInfo(path, _UP_);
                    }

                    itemInfo = getItemInfo(path + "." + key, _UP_);
                    info.label = getItemLabel(itemInfo);
                    if(info.label == ""){
                        info.label = key;
                    }

                    info.type = getItemType(parentItemInfo);
                    //set base type for any
                    if(info.type == _ANY_ && flag) {
                        var t = baseTypes.getTypeOf(val);
                        if (t != "object") {
                            info.type = t;
                        }
                    }

                    //set type unit
                    var argsInfo = getItemInfo(path + "." + key, _AP_);
                    if((baseTypes.getTypeOf(val) == "object" && flag) || !argsInfo){
                        info.typeLabel = "unit"
                    }

                    // if key id argument
                } else if (units.isArgument(key)) {
                    itemInfo = getItemInfo(path, key);
                    info.label = "\<arg\> - (" + key + ")";
                    info.type = getItemType(itemInfo);
                    if(info.type == _ANY_ && flag){
                        info.type = baseTypes.getTypeOf(val);
                    }

                    //if key is output
                } else if (units.isOutput(key)) {
                    itemInfo = getItemInfo(path, key);
                    info.label = "\<out\> - (" + key + ")";
                    info.type = getItemType(itemInfo);
                    if(info.type == _ANY_ && flag){
                        info.type = baseTypes.getTypeOf(val);
                    }

                    // get info for instant of complex and base type
                } else {
                    itemInfo = getItemInfo(path + '.' + key);
                    info.label = getItemLabel(itemInfo);
                    if(info.label == ""){
                        info.label = key;
                    }

                    info.type = getItemType(itemInfo);
                    if(info.type == undefined) {
                        info.type = baseTypes.getTypeOf(val);
                    } else if(info.type == _ANY_ && flag){
                        var t = baseTypes.getTypeOf(val);
                        if(t != "object"){
                            info.type = t;
                        }
                    }
                }

                return info;
            }

            /**
             * Saves rule
             */
            function save(json, name){
                var promise = $http({
                    method: "POST",
                    data: json,
                    url: "http://localhost:3000/testDiscount/CreateTest" + name
                });

                promise.then(function(response){
                            alert(response.data.result);
                        },
                        function(){
                            return null;
                        });
            }

            /**
             * hides/shows list view
             */
            $scope.roll = function(e){
                e.stopPropagation();

                var target = angular.element(e.target);
                target.toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');

                while(target.parent()){
                    if (target.parent().prop('tagName') === 'LI'){
                        target.parent().toggleClass('minimized');
                        return
                    } else target = target.parent();
                }

                console.log(target.prop('tagName'));

            };

            $scope.btns = {
                btnName: "Show",
                flag: false
            };

            $scope.showJSON = function(btn){
                if(btn.flag){
                    btn.btnName = "Show";
                    btn.flag =  false;
                } else {
                    btn.btnName = "Hide";
                    btn.flag = true;
                }
            };

            $scope.getDialogType = function(dialogKeyInfo, dialogType){
                if(dialogKeyInfo){
                    if(dialogKeyInfo.typeLabel){
                        return dialogKeyInfo.typeLabel
                    } else {
                        return dialogKeyInfo.type
                    }
                }

                return dialogType;
            };

            $scope.getCurrType = function(dialogType, baseType){
                if(baseType != undefined){
                    return baseType;
                }
                return dialogType;
            }

        }

        /**
         * THE <template> DIRECTIVE
         */

        template.$inject = ["$compile"];
        function template($compile) {
            return {
                restrict: 'EA',
                scope: true,
                compile: function(element, attributes) {

                    /* initializing directive related variables */
                    var templateIsTag = false;
                    var templateName = null;
                    var templateAttributes = {};

                    if (element[0].tagName.toLowerCase() == this.name.toLowerCase()) {
                        templateIsTag = true;
                    }

                    /* template attributes filtering */
                    if (templateIsTag) {
                        /* case 1: directive usage as a tag - all attributes related */
                        for(var attribute in attributes.$attr) {
                            var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();
                            templateAttributes[attr] = attributes[attribute];
                        }

                    } else {
                        /* case 2: directive usage as an attribute - attribute prefix filtering*/
                        var templatePrefix = "tp";
                        for (var loop=true; loop; loop=!loop) {
                            for(var attribute in  attributes.$attr) {
                                var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();

                                /* non default prefix specified, we should repeat scan for that case (as attributes order is not strict) */
                                if (attr == "template" && attributes[attribute] != "") {
                                    templatePrefix = attributes[attribute];

                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);

                                    loop = false;
                                }

                                /* grabbing template related attributes and removing them from element */
                                if (attr.startsWith(templatePrefix)) {
                                    attr = attr.slice(templatePrefix.length);

                                    templateAttributes[attr] = attributes[attribute];
                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);
                                }
                            }
                        }
                    }

                    /* template "set" operation specified */
                    if ("set" in templateAttributes) {
                        var templateName = templateAttributes["set"];
                        delete templateAttributes["set"]

                        if (typeof angular.templates == 'undefined') {
                            angular.templates = {};
                        }

                        /* angular scope and $compile operations requires top element */
                        if (templateIsTag) {
                            angular.templates[templateName] = "<span>" + element.html() + "</span>";
                        } else {
                            angular.templates[templateName] = element[0].outerHTML;
                        }
                    }

                    /* template "get" operation specified */
                    if ("get" in templateAttributes) {
                        templateName = templateAttributes["get"];
                        delete templateAttributes["get"]
                    } else {
                        templateName = null;
                    }

                    /* directive's "link" function */
                    return function(scope, element, attributes) {

                        var result = '';
                        if (templateName != null && templateName != '') {
                            /* looking for a stored template HTML */
                            var templateHTML = '';
                            if (typeof angular.templates != 'undefined' &&
                                    typeof angular.templates[templateName] != 'undefined') {

                                templateHTML = angular.templates[templateName];
                            }

                            /* taking subject to which new scope will be applied */
                            var templateElement = angular.element();
                            if (templateIsTag) {
                                if (templateHTML != '') {
                                    templateElement = angular.element(templateHTML)
                                }
                            } else {
                                templateElement = element.append(templateHTML);
                            }

                            /* making new scope */
                            var templateScope = scope.$new(false, scope);
                            for (var attr in templateAttributes) {
                                val = templateAttributes[attr];
                                try {
                                    val = val.replace(/^\s*\{\{\s*/, "").replace(/\s*\}\}\s*$/, "");
                                    val = scope.$eval(val);
                                } catch (e) {
                                    console.log("error", val);
                                }
                                templateScope[attr] = val;
                            }

                            /* applying new scope to the subject */
                            result = $compile(templateElement)(templateScope);
                        }
                        element.replaceWith(result);

                    }
                }
            }
        }

        function modalDialog() {
            return {
                templateUrl: "dialog.html",
                scope: false
            }
        }

        function editor() {
            return {
                templateUrl: "editor.html",
                scope: false
            }
        }

    </script>
</head>
<body ng-app="JSONEditor">

<!-- Template for tree item rendering -->

<ul template="tpl" tpl-set="tree-item" ng-if="baseTypes.getTypeOf(item) == 'object' || baseTypes.getTypeOf(item) == 'array'" >
    <!-- items loop -->
    <li class="tree-item" ng-repeat="(key, val) in item track by [key,val,item]">
        <!-- http://stackoverflow.com/questions/16796341/set-angular-scope-variable-in-markup -->
        {{itemInfo = getKeyInfo(path, key, val, true);""}}
        {{itemTypeLabel = itemInfo.typeLabel ? itemInfo.typeLabel : itemInfo.type;""}}
        {{itemType = itemInfo.type;""}}
        {{valueType = baseTypes.getTypeOf(val);""}}
        <div class="value-line">
                <span>
                    <i ng-if="valueType == 'object' || valueType == 'array'" class='arrow glyphicon glyphicon-triangle-bottom' ng-click="roll($event)"></i>
                    <b title="{{key}}">{{itemInfo.label}}</b>
                </span>
            ({{itemTypeLabel}})

            <!-- string value -->
                <span ng-if="valueType == 'string'">
                    <input class="form-input" type="text" ng-model="val" ng-change="val = editItem(path, key, itemType, val)"/>
                </span>

            <!-- number value -->
                <span ng-if="valueType == 'int' || valueType == 'float'">
                    <input class="form-input" type="number" step="0.1" ng-model="val" ng-change="val = editItem(path, key, itemType, val)"/>
                </span>

            <!-- boolean value -->
                <span ng-if="valueType == 'boolean'">
                    <input class="form-input-checkbox" type="checkbox" ng-model="val" ng-change="val = editItem(path, key, itemType, val)"/>
                </span>

            <!-- remove button -->
            <button  class="temp-btn remove-btn" ng-click="removeJsonItem(path, key, val)"><i class="glyphicon glyphicon-trash"></i></button>

            <!-- add item button -->
            <button ng-if="itemType == 'object' || itemType == 'array' || units.isUnit(key) || !baseTypes.isBaseType(itemType)" class="trigger-modal temp-btn add-btn" ng-click="addItemDialog(path, key)"><i class="glyphicon glyphicon-plus"></i></button>

            <!-- add unit button -->
            <button ng-if="units.hasUnits(itemType) && !units.isArgument(key) && !units.isOutput(key)" class="trigger-modal temp-btn unit-btn" ng-click="addItemDialog(path, key, 'unit')"><i class="glyphicon glyphicon-indent-left"></i></button>

        </div>

        <!-- recursive template execution for a value -->
        <template get="tree-item" item="val" key="key" path="{{path + '.' + key}}" j="j"></template>
    </li>
</ul>

<!-- JSON Editors -->

<div id="editors">
    <div ng-controller="JSONEditor">

        <h2 ng-init="jsonType = 'DiscountRule'; name = 'Rule'">{{name}}</h2>

        <div editor></div>
        <div modal-dialog></div>
    </div>

    <div ng-controller="JSONEditor">
        <h2 ng-init="jsonType = 'DiscountAction'; name = 'Action'">{{name}}</h2>

        <div editor></div>
        <div modal-dialog></div>

    </div>
</div>

<!-- JSON Editor template -->
<script type="text/ng-template" id="editor.html">
    <div class="container">
        <ul class="wrapper">
            <li>
                <div class="value-line">
                        <span>
                            <i ng-if="!isInArray(jsonType, ['string', 'boolean', 'int', 'float'])" class='glyphicon glyphicon-triangle-bottom' ng-click="roll($event)"></i>
                            ({{jsonType}})
                        </span>

                    <!--add item button-->
                    <button class="trigger-modal temp-btn" style="margin-right: 30px;" ng-if="!isInArray(jsonType, ['string', 'boolean', 'number'])" ng-click="addItemDialog(path, key)"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <template get="tree-item" item="json" key="" path=""></template>
            </li>
        </ul>
    </div>

    <!-- Save button -->
    <button  class="check-btn" ng-click="save(json, name)">Save {{name}}</button>

    <!-- JSON Representation -->
    <div class="represent">
        <button class="check-btn" ng-click="showJSON(btns)">{{btns.btnName}}</button>
        <pre ng-show="btns.flag">{{json | json}}</pre>
    </div>
</script>


<!-- Create Item Dialog template-->
<script type="text/ng-template" id="dialog.html">

    <!--<div id="screen" ng-hide="isDialogHidden"></div>-->
    <div id="modal" class="panel panel-default" ng-hide="isDialogHidden">
        <div class="panel-heading">
            <p>add to <b>{{dialog.path}}</b></p>
        </div>
        <div class="panel-body">
            <form novalidate name="addItem" class="css-form">
                <div novalidate class="form-group css-form">
                    <!-- key input -->
                    <div ng-show="dialog.showKey">
                        <label ng-if="dialog.unitFlag">Unit:</label>
                        <label ng-if="!dialog.unitFlag">Key:</label>
                        <input  type="text" ng-show="dialog.showInputKey" ng-model="dialog.key" class="form-control" required/>
                        <select ng-show="dialog.showSelectKey" ng-options="option.label for option in dialog.possibleKeys" ng-model="info" ng-change="dialog.keyInfo = getKeyInfo(dialog.path, info.key, '', '', dialog.type)" class="form-control" required></select>
                    </div>

                    <!-- type selector -->
                    {{dialogType = getDialogType(dialog.keyInfo, dialog.type); ""}}
                    <div>
                        <br>
                        <label>Type:</label>
                        <input ng-show="dialog.showInputType && dialogType != 'any'" type="text" ng-model="dialogType" class="form-control" readonly/>
                        <select ng-show="dialog.showSelectType || dialogType == 'any'" ng-options="option for option in baseTypes.getBaseTypes()" ng-model="dialog.baseType" class="form-control" required></select>
                    </div>

                    {{currType = getCurrType(dialogType, dialog.baseType); ""}}
                    <!-- value input -->
                    <div ng-switch="currType">
                        <br>
                        <label>Value:</label>

                        <!-- string value -->
                            <span ng-switch-when="string">
                                <input class="form-control" type="text" ng-model="dialog.val" required/>
                            </span>

                        <!-- number value -->
                            <span ng-switch-when="int">
                                <input class="form-control" type="number" ng-model="dialog.val" required/>
                            </span>

                        <!-- number value -->
                            <span ng-switch-when="float">
                                <input class="form-control" type="number" ng-model="dialog.val" required/>
                            </span>

                        <!--boolean value -->
                            <span ng-switch-when="boolean">
                                <input class="form-input-checkbox" type="checkbox" ng-model="dialog.val"/>
                            </span>

                        <!-- default value -->
                            <span ng-switch-default>
                                N/A
                            </span>
                    </div>

                </div>
            </form>
        </div>

        <!-- Actions -->
        <div class="panel-footer">
            {{currKey = info.key ? info.key : dialog.key; ""}}
            <button class="btn btn-default" ng-click="isDialogHidden=true; addJsonItem(dialog.path, currKey, currType, dialog.val)">Add</button>
            <button class="btn btn-default" ng-click="isDialogHidden=true;">Cancel</button>
        </div>
    </div>

</script>

</body>

</html>
