<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Discount Editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <script type="text/javascript">



        var PATH_SEPARATOR = "/";

        var module = angular.module("DiscountEditor", []);

        module.directive("template", ["$compile", function ($compile) {
            var directive = {
                restrict: 'EA',
                scope: true,
                compile: function (element, attributes) {

                    /* initializing directive related variables */
                    var templateIsTag = false;
                    var templateName = null;
                    var templateAttributes = {};

                    if (element[0].tagName.toLowerCase() == this.name.toLowerCase()) {
                        templateIsTag = true;
                    }

                    /* template attributes filtering */
                    if (templateIsTag) {
                        /* case 1: directive usage as a tag - all attributes related */
                        for (var attribute in attributes.$attr) {
                            var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();
                            templateAttributes[attr] = attributes[attribute];
                        }

                    } else {
                        /* case 2: directive usage as an attribute - attribute prefix filtering*/
                        var templatePrefix = "tp";
                        for (var loop = true; loop; loop = !loop) {
                            for (var attribute in  attributes.$attr) {
                                var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();

                                /* non default prefix specified, we should repeat scan for that case (as attributes order is not strict) */
                                if (attr == "template" && attributes[attribute] != "") {
                                    templatePrefix = attributes[attribute];

                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);

                                    loop = false;
                                }

                                /* grabbing template related attributes and removing them from element */
                                if (attr.startsWith(templatePrefix)) {
                                    attr = attr.slice(templatePrefix.length);

                                    templateAttributes[attr] = attributes[attribute];
                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);
                                }
                            }
                        }
                    }

                    /* template "set" operation specified */
                    if ("set" in templateAttributes) {
                        var templateName = templateAttributes["set"];
                        delete templateAttributes["set"]

                        if (typeof angular.templates == 'undefined') {
                            angular.templates = {};
                        }

                        /* angular scope and $compile operations requires top element */
                        if (templateIsTag) {
                            angular.templates[templateName] = "<span>" + element.html() + "</span>";
                        } else {
                            angular.templates[templateName] = element[0].outerHTML;
                        }
                    }

                    /* template "get" operation specified */
                    if ("get" in templateAttributes) {
                        templateName = templateAttributes["get"];
                        delete templateAttributes["get"]
                    } else {
                        templateName = null;
                    }

                    /* directive's "link" function */
                    return function (scope, element, attributes) {

                        var result = '';
                        if (templateName != null && templateName != '') {
                            /* looking for a stored template HTML */
                            var templateHTML = '';
                            if (typeof angular.templates != 'undefined' &&
                                    typeof angular.templates[templateName] != 'undefined') {

                                templateHTML = angular.templates[templateName];
                            }

                            /* taking subject to which new scope will be applied */
                            var templateElement = angular.element();
                            if (templateIsTag) {
                                if (templateHTML != '') {
                                    templateElement = angular.element(templateHTML)
                                }
                            } else {
                                templateElement = element.append(templateHTML);
                            }

                            /* making new scope */
                            var templateScope = scope.$new(false, scope);
                            for (var attr in templateAttributes) {
                                val = templateAttributes[attr];
                                try {
                                    val = val.replace(/^\s*\{\{\s*/, "").replace(/\s*\}\}\s*$/, "");
                                    val = scope.$eval(val);
                                } catch (e) {
                                    console.log("error", val);
                                }
                                templateScope[attr] = val;
                            }

                            /* applying new scope to the subject */
                            result = $compile(templateElement)(templateScope);
                        }
                        element.replaceWith(result);

                    }
                }
            };
            return directive;
        }]);

        module.service("$composer", ["$http", "$q", function ($http, $q) {
            var service = {
                API_SERVER_URL: "http://localhost:3000",

                ARRAY_PREFIX: "[]",

                UNIT_PREFIX: "*",
                UNIT_ARG_PREFIX: "@",
                UNIT_OUT_PREFIX: "#",

                basic: ["string", "int", "float", "boolean", "array", "object"],
                types: {},
                units: {},

                isBasic: function (typeName) {
                    return typeName in service.basic;
                },

                isUnit: function (typeName) {
                    if (typeName.indexOf(this.UNIT_PREFIX) == 0) {
                        return true;
                    }
                    return false;
                },

                isAny: function (typeName) {
                    return typeName == "any" || typeName == "*";
                },

                isArray: function (typeName) {
                    typeName = typeName.toString();
                    if (typeName.indexOf(this.ARRAY_PREFIX) == 0 || typeName == "array") {
                        return true;
                    }
                    return false;
                },

                arrayType: function (typeName) {
                    typeName = typeName.toString();
                    return typeName.slice(this.ARRAY_PREFIX.length);
                },

                type: function (typeName) {
                    if (typeName in service.types) {
                        return $q.when(service.types[typeName]);
                    }

                    return $http({
                        url: this.API_SERVER_URL + "/composer/type/" + typeName,
                        method: "GET"
                    }).then(function (response) {

                        if (response.data.error != null) {
                            alert(response + ":" + response.data.error.message);
                            return null;
                        }

                        if (typeName in response.data.result) {
                            service.types[typeName] = response.data.result[typeName];
                            return service.types[typeName];
                        }

                        return null;
                    });
                },

                unit: function (unitName) {
                    if (unitName in service.units) {
                        return service.units[unitName];
                    }

                    return $http({
                        url: this.API_SERVER_URL + "composer/unit/" + unitName,
                        method: "GET"
                    }).then(function (response) {
                        if (response.data.error != null) {
                            alert(response.data.error.message);
                            return null;
                        }

                        service.units[unitName] = response.data.result;
                    });
                },
            };
            return service;
        }]);

        module.controller("ComposeElement", ["$scope", "$q", "$composer", function ($scope, $q, $composer) {
            var ComposerElement = {
                reset: function(data) {
                    // checking argument
                    if (data != undefined) {
                        $scope.data = data;
                    }

                    // extracting values
                    if ($scope.data != undefined && typeof $scope.data == "object") {
                        for (field in ["value", "path", "root", "parent", "type"]) {
                            if (field in $scope.data) {
                                $scope[field] = $scope.data[field];
                            }
                        }
                    }

                    $scope.ready   = false;
                    $scope.isUnit  = false;
                    $scope.isBasic = false;
                    $scope.isRoot  = false;
                    $scope.canLoop = false;

                    // path validation
                    $scope.path = this.pathArray(this.path);
                    if ($scope.path.length == 0){
                        $scope.root = $scope.value;
                        $scope.parent = null;

                        $scope.isRoot = true;
                    }

                    // value validation
                    if ($scope.value == undefined) {
                        $scope.value = {};
                    }

                    if (typeof $scope.type != "string" || $scope.type == ""){
                        $scope.type = "object";
                    }

                    var kind = typeof $scope.value;
                    if (kind == "object" || kind == "array") {
                        $scope.canLoop = true;
                    }

                    // requesting type information
                    if (!$composer.isBasic($scope.type)) {
                        $scope.isBasic = true;
                        if ($composer.isUnit($scope.type)) {
                            $scope.isUnit = true;
                            $scope.info = $composer.unit($scope.type);
                        } else {
                            $scope.info = $composer.type($scope.type);
                        }
                    }

                    // waiting for results
                    $q.when(this.items).then(function() {
                        $scope.ready = true;
                    });
                },

                pathArray: function (path) {
                    path = path || $scope.path;

                    if (Array.isArray(path)) {
                        return path;
                    }

                    if (typeof path != "string") {
                        return [];
                    }

                    return path.replace(new RegExp("^[" + PATH_SEPARATOR + "]+"), "")
                            .replace(new RegExp("[" + PATH_SEPARATOR + "]+$"), "")
                            .split(PATH_SEPARATOR);
                },

                itemData: function (item) {
                    var result = this.pathArray(path);
                    if (typeof item == "string" || item != "") {
                        result.push(item);
                    }

                    var newPath = [];
                    for(x in $scope.path) {
                        newPath.push(x);
                    }

                    return {
                        path:  newPath,
                        root:  $scope.root,
                        parent:$scope.value,
                        value: $scope.value[item],

                        label: $scope.info[item].label,
                        type:  $scope.info[item].type,
                        description: $scope.info[item].description
                    };
                },

                canCollapse: function (value) {
                    value = value || $scope.value;

                    if ((typeof value == "object" && Object.keys(value).length > 0) ||
                        (Array.isArray(value) && value.length > 0)) {
                        return true;
                    }
                    return false;
                },

                collapse: function (event) {
                    var element = angular.element(event.target);
                    element.toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');

                    for (var i = 0; i < 10; i++) {
                        if (element.hasClass('compose-element-item')) {
                            element.toggleClass('minified');
                            break;
                        }
                        element = element.parent();
                    }
                }
            };

            angular.merge($scope, ComposerElement);
            $scope.reset();
        }]);


        module.controller("DiscountEditor", ["$scope", function ($scope) {
            $scope.rule = {'visitor': {'first_name': 'test'}};
            $scope.ruleType = "DiscountRule";
        }]);
    </script>

    <style>

        #screen {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 0;
        }

        #modal {
            width: 33.333%;
            top: 20%;
            left: 33.3333%;
            z-index: 2;
            position: fixed;
        }

        .container {
            padding: 0px 5px 0px 0px;
            background-color: #f3f6fa;
            background-image: repeating-linear-gradient(180deg, #d9edf7, #d9edf7 30px, #f5f5f5 30px, white 60px);
        }

        .compose-element {
            list-style: none;
            margin: 0;
            padding-left: 20px;
        }

        .compose-element-item {
            line-height: 30px;
        }

        .compose-element-item .minified {
            height: 30px;
            overflow-y: hidden;
        }

        .compose-item-line {
            height: 30px;
            line-height: 30px;
        }

        .compose-item-line button {
            float: right;
            box-sizing: border-box;
            height: 30px;
            line-height: 26px;
            border-color: transparent;
            background-color: transparent;
        }

        .compose-item-line input {
            width: 100px;
            border: none;
            display: inline;
            height: 30px;
            padding: 5px;
            background-color: transparent;
        }
    </style>
</head>

<body ng-app="DiscountEditor">

<!-- Composer Editor tree item template -->
<ul class="compose-element" template="tpl" tpl-set="compose-element" ng-controller="ComposeElement">
    <li class="compose-item">
        <div class="compose-item-line" ng-if="ready">

            <span class="compose-item-icon" ng-switch="canCollapse">
                <i class="glyphicon glyphicon-triangle-bottom"
                   ng-switch-when="true"
                   ng-click="collapse($event)"></i>

                <i class="glyphicon"
                   ng-switch-default>&nbsp;</i>
            </span>

            <span class="compose-item-label">
                <b title="{{description}}">{{label}}</b>({{type}})
            </span>

            <span class="compose-item-editor" ng-switch="type">
                <input type="text"
                       ng-switch-when="string"
                       ng-model="value"
                       ng-change="edit(value)"/>

                <input type="number"
                       step="0.1"
                       ng-switch-when="number"
                       ng-model="value"
                       ng-change="edit(value)"/>

                <input type="checkbox"
                       ng-switch-when="boolean"
                       ng-model="value"
                       ng-change="edit(value)"/>
            </span>

            <button ng-if="!isRoot" ng-click="removeItem()">
                <i class="glyphicon glyphicon-trash"></i>
            </button>

            <button ng-if="hasItems" ng-click="addItemDialog()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>

            <button ng-if="hasUnits" ng-click="addUnitDialog()">
                <i class="glyphicon glyphicon-indent-left"></i>
            </button>
        </div>

        <template get="compose-element" data="itemData(key)"
                  ng-if="canLoop"
                  ng-repeat="(key, keyValue) in value"></template>
    </li>
</ul>

<!-- Discount Editor-->
<div class="container" ng-controller="DiscountEditor">
    <template get="compose-element" value="rule" type="ruleType"></template>
</div>

</body>
</html>