<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Discount Editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <script type="text/javascript">

        var initialized = false;

        var init = function (x) {

        };

        var module = angular.module("DiscountEditor", []);

        module.directive("template", ["$compile", function ($compile) {
            var template = {
                restrict: 'EA',
                scope: true,
                compile: function (element, attributes) {

                    /* initializing directive related variables */
                    var templateIsTag = false;
                    var templateName = null;
                    var templateAttributes = {};

                    if (element[0].tagName.toLowerCase() == this.name.toLowerCase()) {
                        templateIsTag = true;
                    }

                    /* template attributes filtering */
                    if (templateIsTag) {
                        /* case 1: directive usage as a tag - all attributes related */
                        for (var attribute in attributes.$attr) {
                            var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();
                            templateAttributes[attr] = attributes[attribute];
                        }

                    } else {
                        /* case 2: directive usage as an attribute - attribute prefix filtering*/
                        var templatePrefix = "tp";
                        for (var loop = true; loop; loop = !loop) {
                            for (var attribute in  attributes.$attr) {
                                var attr = attribute.replace(/^(data-|x-)/, "").toLowerCase();

                                /* non default prefix specified, we should repeat scan for that case (as attributes order is not strict) */
                                if (attr == "template" && attributes[attribute] != "") {
                                    templatePrefix = attributes[attribute];

                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);

                                    loop = false;
                                }

                                /* grabbing template related attributes and removing them from element */
                                if (attr.startsWith(templatePrefix)) {
                                    attr = attr.slice(templatePrefix.length);

                                    templateAttributes[attr] = attributes[attribute];
                                    delete attributes.$attr[attribute];
                                    element.removeAttr(attribute);
                                }
                            }
                        }
                    }

                    /* template "set" operation specified */
                    if ("set" in templateAttributes) {
                        var templateName = templateAttributes["set"];
                        delete templateAttributes["set"];

                        if (typeof angular.templates == 'undefined') {
                            angular.templates = {};
                        }

                        /* angular scope and $compile operations requires top element */
                        if (templateIsTag) {
                            angular.templates[templateName] = "<span>" + element.html() + "</span>";
                        } else {
                            angular.templates[templateName] = element[0].outerHTML;
                        }
                    }

                    /* template "get" operation specified */
                    if ("get" in templateAttributes) {
                        templateName = templateAttributes["get"];
                        delete templateAttributes["get"]
                    } else {
                        templateName = null;
                    }

                    /* directive's "link" function */
                    return function (scope, element, attributes) {

                        var result = '';
                        if (templateName != null && templateName != '') {
                            /* looking for a stored template HTML */
                            var templateHTML = '';
                            if (typeof angular.templates != 'undefined' &&
                                    typeof angular.templates[templateName] != 'undefined') {

                                templateHTML = angular.templates[templateName];
                            }

                            /* taking subject to which new scope will be applied */
                            var templateElement = angular.element();
                            if (templateIsTag) {
                                if (templateHTML != '') {
                                    templateElement = angular.element(templateHTML)
                                }
                            } else {
                                templateElement = element.append(templateHTML);
                            }

                            /* making new scope */
                            var templateScope = scope.$new(false, scope);
                            for (var attribute in templateAttributes) {
                                var value = templateAttributes[attribute];
                                try {
                                    value = value.replace(/^\s*\{\{\s*/, "").replace(/\s*\}\}\s*$/, "");
                                    value = scope.$eval(value);
                                } catch (e) {
                                    // console.log(e);
                                }
                                // scope[attribute] = value;
                                templateScope[attribute] = value;
                            }

                            /* applying new scope to the subject */
                            result = $compile(templateElement)(templateScope);
                        }
                        element.replaceWith(result);

                    }
                }
            };
            return template;
        }]);

        module.service("$composer", ["$http", "$q", function ($http, $q) {
            var $composer = {
                API_SERVER_URL: "http://localhost:3000",

                ARRAY_PREFIX: "[]",

                UNIT_PREFIX: "*",
                UNIT_ARG_PREFIX: "@",
                UNIT_OUT_PREFIX: "#",

                basic: ["string", "int", "float", "boolean", "array", "object"],
                types: {},
                units: {},
                aliases: {},

                isBasic: function (typeName) {
                    return $composer.basic.indexOf(typeName) > 0;
                },

                isUnit: function (typeName) {
                    return typeName.indexOf($composer.UNIT_PREFIX) == 0;
                },

                isAny: function (typeName) {
                    return typeName == "any" || typeName == "*";
                },

                isArray: function (typeName) {
                    typeName = typeName.toString();
                    return typeName.indexOf($composer.ARRAY_PREFIX) == 0 || typeName == "array";
                },

                arrayType: function (typeName) {
                    typeName = typeName.toString();
                    return typeName.slice($composer.ARRAY_PREFIX.length);
                },

                alias: function(typeName) {
                    if (typeName in $composer.alias) {
                        return $composer.alias[typeName];
                    }
                    return typeName;
                },

                type: function (typeName) {
                    if (typeName in $composer.types) {
                        return $q.when($composer.types[typeName]);
                    }

                    return $http({
                        url: $composer.API_SERVER_URL + "/composer/type/" + typeName,
                        method: "GET"
                    }).then(function (response) {

                        if (response.data.error != null) {
                            alert(response + ":" + response.data.error.message);
                            return null;
                        }

                        if (typeName in response.data.result) {
                            $composer.types[typeName] = response.data.result[typeName];
                            return $composer.types[typeName];
                        }

                        return null;
                    });
                },

                unit: function (unitName) {
                    if (unitName in $composer.units) {
                        return $composer.units[unitName];
                    }

                    return $http({
                        url: $composer.API_SERVER_URL + "composer/unit/" + unitName,
                        method: "GET"
                    }).then(function (response) {
                        if (response.data.error != null) {
                            alert(response.data.error.message);
                            return null;
                        }
                        $composer.units[unitName] = response.data.result;
                    });
                }
            };
            return $composer;
        }]);

        module.controller("ComposeElement", ["$scope", "$q", "$composer", function (ComposeElement, $q, $composer) {

            // Scope functions
            ComposeElement.pathArray = function (path) {
                path = path || ComposeElement.path;

                if (Array.isArray(path)) {
                    return path;
                }

                if (typeof path != "string") {
                    return [];
                }

                var PATH_SEPARATOR = "/";

                return path.replace(new RegExp("^[" + PATH_SEPARATOR + "]+"), "")
                           .replace(new RegExp("[" + PATH_SEPARATOR + "]+$"), "")
                           .split(PATH_SEPARATOR);
            };

            ComposeElement.collapse = function (event) {
                var element = angular.element(event.target);
                element.toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');

                for (var i = 0; i < 10; i++) {
                    if (element.hasClass('compose-element-item')) {
                        element.toggleClass('minified');
                        break;
                    }
                    element = element.parent();
                }
            };

            // --------------
            // Initialization
            // --------------

            // extracting "data" values
            if (ComposeElement.data != undefined && typeof ComposeElement.data == "object") {
                var fields = ["value", "path", "root", "parent", "type"];
                for (var i in fields) {
                    var field = fields[i];
                    if (field in ComposeElement.data) {
                        ComposeElement[field] = ComposeElement.data[field];
                    }
                }
            }

            ComposeElement.ready   = false;

            ComposeElement.isBasic = true;
            ComposeElement.isUnit = false;

            ComposeElement.length = 0;
            ComposeElement.children = [];
            ComposeElement.info = {};

            // path validation
            ComposeElement.path = ComposeElement.pathArray(ComposeElement.path);
            if (ComposeElement.path.length == 0){
                ComposeElement.root = ComposeElement.value;
                ComposeElement.parent = null;
            }

            // value validation
            if (ComposeElement.value == undefined) {
                ComposeElement.value = {};
            }

            // type validation
            if (typeof ComposeElement.type != "string" || ComposeElement.type == ""){
                ComposeElement.type = typeof ComposeElement.value;
            }

            // length update
            if (typeof ComposeElement.value == "object") {
                ComposeElement.length = Object.keys(ComposeElement.value).length;
            } else if (Array.isArray(ComposeElement.value)) {
                ComposeElement.length = ComposeElement.value.lenght;
            }

            // requesting type information
            if (!$composer.isBasic(ComposeElement.type)) {
                ComposeElement.isBasic = false;
                if ($composer.isUnit(ComposeElement.type)) {
                    ComposeElement.isUnit = true;
                    ComposeElement.info = $composer.unit(ComposeElement.type);
                } else {
                    ComposeElement.info = $composer.type(ComposeElement.type);
                }
            }

            // waiting for results
            $q.when(ComposeElement.info).then(function(info) {
                ComposeElement.info = info;

                // Initializing children elements
                for (var item in ComposeElement.value) {
                    if (ComposeElement.info[item] == undefined) {
                        continue;
                    }

                    var itemPath = ComposeElement.path.slice();
                    itemPath.push(item);

                    ComposeElement.children.push({
                        path:   itemPath,
                        root:   ComposeElement.root,
                        parent: ComposeElement.value,
                        value:  ComposeElement.value[item],

                        type:  ComposeElement.info[item].type,
                        desc:  ComposeElement.info[item].desc,
                        label: ComposeElement.info[item].label
                    });
                }
                ComposeElement.ready = true;
            });
        }]);


        module.controller("DiscountEditor", ["$scope", function (DiscountEditor) {
            DiscountEditor.rule = {'visitor': {'first_name': 'test'}};
            DiscountEditor.ruleType = "DiscountRule";
        }]);
    </script>

    <style>

        #screen {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 0;
        }

        #modal {
            width: 33.333%;
            top: 20%;
            left: 33.3333%;
            z-index: 2;
            position: fixed;
        }

        .container {
            padding: 0px 5px 0px 0px;
            background-color: #f3f6fa;
            background-image: repeating-linear-gradient(180deg, #d9edf7, #d9edf7 30px, #f5f5f5 30px, white 60px);
        }

        .compose-element {
            list-style: none;
            margin: 0;
            padding-left: 20px;
        }

        .compose-element-item {
            line-height: 30px;
        }

        .compose-element-item .minified {
            height: 30px;
            overflow-y: hidden;
        }

        .compose-item-line {
            height: 30px;
            line-height: 30px;
        }

        .compose-item-line button {
            float: right;
            box-sizing: border-box;
            height: 30px;
            line-height: 26px;
            border-color: transparent;
            background-color: transparent;
        }

        .compose-item-line input {
            width: 100px;
            border: none;
            display: inline;
            height: 30px;
            padding: 5px;
            background-color: transparent;
        }
    </style>
</head>

<body ng-app="DiscountEditor">

<!-- Composer Editor tree item template -->
<ul class="compose-element" template="tpl" tpl-set="compose-element" ng-controller="ComposeElement">
    <li class="compose-item">
        <div class="compose-item-line" ng-if="ready">

            <span class="compose-item-icon" ng-switch="children.length > 0">
                <i class="glyphicon glyphicon-triangle-bottom"
                   ng-switch-when="true"
                   ng-click="collapse($event)"></i>

                <i class="glyphicon"
                   ng-switch-default>&nbsp;</i>
            </span>

            <span class="compose-item-label">
                <b title="{{desc}}">{{label}}</b>({{type}})
            </span>

            <span class="compose-item-editor" ng-switch="type">
                <input type="text"
                       ng-switch-when="string"
                       ng-model="value"
                       ng-change="edit(value)"/>

                <input type="number"
                       step="0.1"
                       ng-switch-when="number"
                       ng-model="value"
                       ng-change="edit(value)"/>

                <input type="checkbox"
                       ng-switch-when="boolean"
                       ng-model="value"
                       ng-change="edit(value)"/>
            </span>

            <button ng-if="parent != null" ng-click="removeItem()">
                <i class="glyphicon glyphicon-trash"></i>
            </button>

            <button ng-if="info.length > 0" ng-click="addItemDialog()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>

            <button ng-if="hasUnits" ng-click="addUnitDialog()">
                <i class="glyphicon glyphicon-indent-left"></i>
            </button>
        </div>

        <template get="compose-element" data="x" ng-repeat="x in children"></template>
    </li>
</ul>

<!-- Discount Editor-->
<div class="container" ng-controller="DiscountEditor">
    <template get="compose-element" value="rule" type="ruleType"></template>
</div>

</body>
</html>